.offer {
    background-image: url(../imgs/offer.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-container {
    background-color: #ff00000d;
}